canvas {
    /* border: 1px solid black; */
    background-color: black;
}

body {
    margin: 0;
}

#randombtn {
    position: absolute;
    top: 2%;
    left: 1%;
}

/* #bubblesort {
    position: absolute;
    top: 8%;
    left: 2%;
}

#insertionsort {
    position: absolute;
    top: 14%;
    left: 2%;
} */

.btn-group {
    position: absolute;
    top: 8%;
    left: 1%;
}