canvas {
    /* border: 1px solid black; */
    background-color: rgb(32, 32, 32);
}

body {
    margin: 0;
}

#randombtn {
    position: absolute;
    top: 1rem;
    left: 1%;
}

#algoselect {
    width: auto;
    position: absolute;
    top: 4rem;
    left: 1%;
}

#startbtn {
    position: absolute;
    top: 7rem;
    left: 1%;
}