canvas {
    /* border: 1px solid black; */
    background-color: black;
}

body {
    margin: 0;
}

#randombtn {
    position: absolute;
    top: 2%;
    left: 2%;
}

#sortbtn {
    position: absolute;
    top: 8%;
    left: 2%;
}